<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>180370368538-k6gnf2o78pk1o9lq0b7gh2q10uh29ki9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.180370368538-k6gnf2o78pk1o9lq0b7gh2q10uh29ki9</string>
	<key>API_KEY</key>
	<string>AIzaSyAPwKR4h2azF15l3hqfYrvblW0QcFaMpVg</string>
	<key>GCM_SENDER_ID</key>
	<string>180370368538</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.loi.socialtests</string>
	<key>PROJECT_ID</key>
	<string>webhook-60569</string>
	<key>STORAGE_BUCKET</key>
	<string>webhook-60569.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:180370368538:ios:e2fb5b2f78dcfdec0249a3</string>
	<key>DATABASE_URL</key>
	<string>https://webhook-60569.firebaseio.com</string>
</dict>
</plist>